<% provide(:title, "SMS Based Study Tool") %>

<div class="masthead">
	<h1>Reduce Test Anxiety and Crush Your Next Exam</h1>
	<p>Make the most of your studying by simulating the pressure of a test and text your way to an A</p>
	<%= link_to "Get Started For Free", new_user_path, :class => "signup-button" %>
</div>
<div class="main-feature" id="features">
	<div class="image-left">
		<%= image_tag "new-question.png" %>
	</div>
	<div class="content-right">
		<h2>Set up your courses and add study questions</h2>
		<p>With TXTests, you can add questions for each of your courses along with their correct answers... These are the questions that will be used for your tests.  It's just like flashcards, but digital... and it involves texting!</p>
	</div>
</div>
<div class="main-feature">
	<div class="image-right">
		<%= image_tag "send-text.png" %>
	</div>
	<div class="content-left">
		<h2>Receive and answer questions randomly throughout the day</h2>
		<p>At random times throughout the day, you will receive a text with a randomly selected question.  Answer it within the allotted time to get credit.</p>
	</div>
</div>
<div class="main-feature">
	<div class="image-left">
		<%= image_tag "measure-progress.png" %>
	</div>
	<div class="content-right">
		<h2>Track your progress</h2>
		<p>Log in and follow your progress.  Check how many questions you've gotten correct and on-time so you can identify your strengths and the areas where you might need a little more work.</p>
	</div>
</div>
