<% provide(:title, "Terms of Service") %>

<div class="pricing-masthead">
	<h1>Boring but important stuff</h1>
</div>
<div class="legal">
	<h1>TXTest Terms of Service ("Agreement")</h1>
	<p>This Agreement was last modified on November 29, 2013.</p>
	
	<p>Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using http://ww.txtest.com ("the Site") operated by Structured Pixels, Inc, a Colorado Corporation ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at http://www.txtest.com.</p>
	
	<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.</p>
	
	<p><strong>Proper Use</strong><br />
	Users agree to use Txtest in compliance with all applicable laws, rules and regulations including any laws regarding the transmission of data exported from your country of residence.  Users shall not use this service for any inappropriate purpose, including reselling, duplicating or exploiting any part of TXTest without the written permission of Structured Pixels, Inc.  Users must be the owner, or approved user, of the email and phone number registered with TXTest.  Violation of any of these terms may result in immediate termination of this Terms of Service Agreement and may subject the user to state and federal legal consequences.</p>
	
	<p><strong>Intellectual Property</strong><br />
	The Site and its original content, features and functionality are owned by TXTest and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>
	
	<p><strong>Payment Terms</strong><br />
	A valid credit card is required for you to use Txtest on a month-to-month basis.  Txtest is billed in advance on a monthly basis.  All fees are exclusive of all taxes or duties imposed by governing authorities.  You alone are responsible for payment of all such taxes or duties.  If there are problems charging your credit card, your account will be marked as inactive until a new card has been added.  Txtest is not responsible for any additional fees that may be charged by your cellular provider for SMS messaging.</p>
	
	<p><strong>Modifications of Fees and Services</strong><br />
	We reserve the right to modify, suspend or discontinue the use of Txtest for any reason without previous notice.  We reserve the right to change fees upon providing 30 days notice to affected users.</p>

	<p><strong>Cancellation and Termination</strong><br />
	You are responsible for the cancellation of your account.  You may cancel your Txtest account at any time by contacting support@txtest.com.  There is no cancellation fee.  Cancellation may take up to five business days.</p>

	<p>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

	<p><strong>Links To Other Sites</strong><br />
	Our Site may contain links to third-party sites that are not owned or controlled by Structured Pixels, Inc.</p>
	<p>TXTest has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

	<p><strong>Governing Law</strong><br />
	This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Colorado, United States, without giving effect to any principles of conflicts of law.</p>

	<p><strong>Changes To This Agreement</strong><br />
	We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</p>

	<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

	<p><strong>Contact Us</strong><br />
	If you have any questions about this Agreement, please contact us at support@txtest.com.</p>
</div>