$tt-body-background: rgba(236, 240, 241,1.0); /* Clouds - Light Grey */
$tt-body-primary-accent: rgba(192, 57, 43, 1.0); /* Alizarin - Red */
$tt-body-secondary-accent: rgba(46, 204, 113, 1.0); /* Emerald - Bright Green */
$tt-body-text: rgba(52, 73, 94, 1.0); /* Midnight Blue - Dark Blue */
$tt-menu-background: rgba(41, 128, 185,1.0); /* Belize Hole - Bright Blue */
$tt-menu-text: rgba(236, 240, 241,1.0);
$tt-menu-text-active: $tt-body-text;