<% provide(:title, "Edit Account") %>

<p id="notice"><%= notice %></p>

<%= render 'users/side_menu' %>
<div class="user-content">
	<div class="user-title">
		<h1>Edit Account</h1>
	</div>
	<div class="account-form">
		<%= render 'users/edit_account_form' %>
	</div>
</div>