@import "all/foundation_and_overrides";
@import "all/overrides";

body {
	background-color: $tt-body-background;
	color: $tt-body-text;
}

h1, h2, h3, h4, p {
	color: $tt-body-text;
	font-family: 'Asap', sans-serif;
}

.alert-success, .alert-fail {
	@include alert-base();
	@include alert-style($tt-accent-success);
}

.alert-fail {
	@include alert-style($tt-accent-fail);
}

.top-nav {
	@extend .top-bar;
	background: #FFFFFF;
	height: emCalc(75px);

	section {
		margin-top: 0.75em;
		background: inherit;

		.top-bar-section {
			bakground: inherit;
		}

		ul.dropdown {
			li {
				&:hover {
					background: $tt-top-nav-background;
				}
				a:hover {
					background: $tt-top-nav-background;
				}
			}
		}
	}

	img {
		width: 70px;
		margin: 10px;
		margin-right: 30px;
	}

	.menu-gravatar {
		@include radius(50%);
		width: 55%;
		border: 1px solid $tt-body-text;
		margin: 0;
		padding: 0;
	}
}

/*
*	This changes the color and size of the top bar... don't try and move it.  It doesn't work!
*/
.top-bar-section li a:not(.button) {
	background: $tt-top-nav-background;
	font-size: 1.1em;
	color: $tt-body-primary-accent;
	font-family: 'Asap', sans-serif;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
   border-left: solid 1px $tt-top-nav-background;
   border-right: solid 1px $tt-top-nav-background;
}
.top-bar-section .has-form {
}
.top-bar-section li a:not(.button):hover {
   // Potential fourth part of problem
   color: $tt-body-text;
   background: $tt-top-nav-background;
}

.side-menu {
	@include grid-column(2);
	background-color: $tt-side-nav-background;
	padding: 0;
	margin: 0;
	border: 1px solid $tt-body-text;
	font-size: 1em;
	font-weight: lighter;

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding: 5px;
	}
	.active {
		background-color: $tt-side-nav-accent;

		a, a:hover, a:visited {
			color: $tt-body-text;
		}
	}

	.heading {
		padding: 5px;
		background-color: $tt-body-background-accent;

		p {
			margin: 0;
			color: $tt-body-background;
		}

		.options {
			float: right;

			a {
				color: $tt-body-background;
			}
		}
	}

	.gravatar {
		width: 100%;
	}

	a {
		color: $tt-body-text;

		&:hover, &:visited {
			background-color: transparent;
			color: $tt-body-text;
		}
	}
}

.main-content {
	@include grid-column(10, $center:true);
	margin-top: 3em;
}

.signin-content {
	@include grid-row();
	@include grid-column(10, $center:true);
	border: 1px solid $tt-body-text;
	padding: 0;


	.signin-image {
		@include grid-column(5);
		text-align: center;
		padding: 20px;
	}
	.signin-form {
		@include grid-column(7, 12);
		background: $tt-top-nav-background;
		border-left: 1px solid $tt-body-text;
		padding: 20px;
	}
}

.course-content, .question-content, .user-content {
	@include grid-column(10);
	padding-left: 2.5em;

	.course-title, .question-title, .user-title {
		@include grid-row();
		
		h1 {
			display: inline-block;
		}
		.course-options, .question-options {
			@extend .right;
			margin-top: 1.5em;
			padding: 0.5em;
			display: inline-block;
			a {
				color: $tt-body-text;
			}
		}
	}

	.course-results, .question-results {
		text-align: center;
		img {
			width: 45%;

			&:first-child {
				margin-right: 2em;
			}
		}
	}

	.questions-heading {
		margin-top: 2em;
		margin-bottom: 1em;
		h4 {
			display: inline-block;
		}
		.new-button {
			@include button($bg:$tt-body-secondary-accent);
			display: inline-block;
		}
	}

	.questions {
		a {
			color: $tt-body-text;
		}

		ul {
			list-style-type: none;

			li {
				margin-bottom: 0.25em;
				padding-left: 0.5em;
				line-height: 2em;
				border-left: 3px solid $tt-body-primary-accent;

				&:hover {
					background: #CCCCCC;
				}
			}
		}

		.settings {
			padding-right: 1em;
		}
	}
}

.question-content, .user-content {
	table {
		width: 100%;
		text-align: center;
	}
}

form {
	label {
		margin: 0;
		padding: 0 0 5px 0;
		font-size: 1em;
		color: $tt-body-text;
	}
	textarea {
		margin-bottom: 0;
	}
	.save-button, .cancel-button {
		@include button($bg:$tt-body-primary-accent);
	}
	.cancel-button {
		@include button($bg:$tt-side-nav-accent);
	}
	.field {
		p {
			display: inline-block;
			width: 10em;
		}
		input[type=text] {
			display: inline-block;
			width: 4em;
		}
	}

	.character-count {
		margin-top: 0;
		margin-bottom: 2em;
		padding: 0;
	}

	.negative-count {
		color: $tt-accent-fail;
		font-weight: bold;
	}
}
