<h1>Editing account_type</h1>

<%= render 'update_form' %>

<p>Plan name is the only field that can be edited.  To edit other details, create a new plan.</p>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plans_path %>
